
.vscode/

build/bootloader/*
build/bootloader-prefix
build/CMakeFiles
build/config
build/esp-idf
build/partition_table/*

!build/bootloader/bootloader.bin
!build/partition_table/partition-table.bin
!build/ESP32.bin

build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/app-flash_args
build/bootloader-flash_args
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/config.env
build/ESP32.elf
build/ESP32.map
build/flash_app_args
build/flash_bootloader_args
build/flash_project_args
build/flasher_args.json
build/kconfigs_projbuild.in
build/kconfigs.in
build/ldgen_libraries
build/ldgen_libraries.in
build/partition-table-flash_args
build/project_description.json
build/project_elf_src_esp32.c
build/x509_crt_bundle.S

build/flash_args

build/flash_args.in

build/log/

build/.cmake/
